@model List<DiplomProject.Controllers.CalculateController>

@{
    ViewData["Title"] = "Результаты поиска";
}

<h6>Самой выгодной улицей для размещения стоянки является: @ViewBag.TarFuncStreetName.</h6>
<p />
<h6>Целевая функция улицы: @ViewBag.TarFuncMax.</h6>
<p />
<h6>Прогнозируемая стоимость одного парковочного места: @ViewBag.optPrice</h6>
<p />
<h6>Оценка востребованности одного парковочного места: @ViewBag.placeRate</h6>


<canvas id="myChart" style="position: relative; height:30vh; width:30vw" onshow="createChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>

var streetsnames = @Json.Serialize(@ViewBag.Allstreets);
var alltarfunc = @Json.Serialize(@ViewBag.Alltarfunc);

const data = {
    labels: streetsnames,
  datasets: [{
    data: alltarfunc,
    backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(75, 192, 192)',
      'rgb(255, 205, 86)',
      'rgb(201, 203, 207)',
      'rgb(54, 162, 235)'
    ]
  }]
};
  const config = {
    type: 'polarArea',
    data: data,
    options: {}
  };
</script>


<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>


<canvas id="myChartTwo" style="position: relative; height:40vh; width:80vw" onshow="createChart"></canvas>


<script>
    var barColors = ["rgb(255, 99, 132)", "rgb(75, 192, 192)", "rgb(255, 205, 86)", "rgb(201, 203, 207)", "rgb(54, 162, 235)"];

    new Chart("myChartTwo", {
        type: "bar",
        label: 'My First Dataset',
        data: {

            labels: streetsnames,
            datasets: [{
                label: 'Столбчатая диаграмма',
                data: alltarfunc,
                borderColor: barColors,
                backgroundColor: barColors,
                borderWidth: 1
            }]
        },
        options: {}
    });
</script>