@model IEnumerable<DiplomProject.ViewModels.StreetsViewModel>

@{
    ViewData["Title"] = "Добавление улицы";
}
<h2>Добавленные улицы</h2>

@foreach (var street in Model) {
    <h3>Номер улицы: @street.id</h3>
    <p>Название улицы: @street.name</p>
    <p>Количество домов на улице: @street.numbersOfHouses</p>
    <p>Основной тип домов: @street.typesOfHouses</p>
    <p>Парковочных мест на территории: @street.areas</p>
    }

<form>
    <button name="AddStreetButton" asp-controller="AddStreetButton" asp-action="Index">Добавить улицу</button>
    <button name="CalculateButton" asp-controller="Calculate" asp-action="Algorythm">Найти оптимальную стоянку</button>
</form>
